.FormurarioIndex{
	margin-left: 2% !important;
	margin-right: 2% !important;
}
.clientesTabla{
	margin-top: -1.5% !important;
}
.menuMarg{
	margin-top: 0%!important;
}
.estadosClientes{
	margin-left: -10% !important;
	text-align:center !important;
}
.oculto{
	visibility: hidden;
}
.visible{
	visibility: ;
}